<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<script src="js/bootstrap/bootstrap.min.js"></script>
<link href="css/bootstrap/bootstrap.css" rel="stylesheet" />
<link href="css/bootstrap/bootstrap-theme.css" rel="stylesheet" />
<link href="css/bootstrap/toastr.css" rel="stylesheet"/>
<link href="css/bootstrap/codemirror.css" rel="stylesheet"/>

<script	src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="js/toastr.js"></script>
<script src="js/default.js"></script>	
<script src="js/lexico.js"></script>

<title>Compiladores</title>
</head>
<body>
	<div class="container">
	
		<h3>Construção de Compiladores - FBUni</h3>
		
		<div class="row">
		<form class="col-md-6">
		
			<div class="form-group">
				<label for="comment">Código Fonte</label>
				<textarea class="form-control" rows="5" id="codigoFonte"></textarea>
			</div>
			
			<button id="btSintatico" type="button" class="btn">Sintático</button>
			<button id="btLexico" type="button" class="btn">Léxico</button>	
		</form>
		</div>
		
		<br/>
		
		<div id="divTabela" class="table-responsive col-md-12 row" style="display:none;">
			<table class="table table-bordered" id="tabelaToken">
				<thead>
					<tr>
						<th>LEXEMA</th>
						<th>PADRAO</th>
						<th>LINHA</th>
						<th>COLUNA</th>						
						<th>TOKEN</th>												
					</tr>
				</thead>
				<tbody>
				</tbody>
			</table>
		</div>
	</div>
</body>
</html>